<%- include('partials/header'); -%>
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
<!-- ################################################################################################# -->
    <!-- NAVBAR  -->
    <header class="bg-dark site-navbar js-sticky-header site-navbar-target" role="banner">
      <div class="container ">
        <div class="row align-items-center position-relative">                    
            <div class="site-logo ">
              <a href="/" ><span  class=" text-primary"><strong>Logic Systems</strong></a>
            </div>       
              <nav class=" site-navigation text-center ml-auto" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a  href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#courses" class="nav-link">Courses</a></li>
                  <li><a href="#about-section" class="nav-link">About</a></li>              
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>
              </nav>
        </div>
      </div>
    </header>
<!-- ################################################################################################# -->
      <!-- Front scroll Image Section info -->      
      <div class="owl-carousel slide-one-item">
      <div class="site-section-cover overlay img-bg-section" style="background-image: url('mockup-863469_1920.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center">
              <h1 id="hel">*आयुष्य खूप सुंदर आहे....फक्त Programming जमलं <span>पाहिजे.!*</span></h1>  
              
            </div>
          </div>
        </div>
      </div>
      <div class="site-section-cover overlay img-bg-section" style="background-image: url('anas-alshanti-feXpdV001o4-unsplash.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center">
              <h1>You Must Know The Code Till The Core.</h1>  
            </div>
          </div>
        </div>
      </div>
      <div class="site-section-cover overlay img-bg-section" style="background-image: url('steps.jpg'); " >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-7 text-center">
              <h1>A Start Somewhere Is Needed.</h1>         
            </div>
          </div>
        </div>
      </div>    
    </div>
<!-- ################################################################################################# -->
 <!--COURSES SECTION  -->  
    <div class="pb-5" style="position: relative; z-index: 8;">
      <div id="courses" class="container">
        <div class="row" style="margin-top: -50px;">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="python-4785225_1920.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class=" h4 mb-2">Python & Automation Using Python</h3>
            <p>This batch enhances you with knowledge required to start a passsionate journey in programming. </p>
            <p style="padding-top:17px ;"><a  class="ui inverted orange button" href="/courses/python">Get More Info</a></p>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img  src="html-3813614_1920.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class=" h4 mb-2">Web Development</h3>
            <p>This batch will help you to become a front-end and back-end developer,from zero to hero.</p>
            <p style="padding-top:15px ;"><a  class="ui inverted primary button" href="/courses/web">Get More Info</a></p>
          </div>
        
          <div style="padding-bottom: 30px;" class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <img src="programming.jpg" alt="Image" class="img-fluid mb-3">
            <h3 class=" h4 mb-2">Pre-Placement Activity</h3>
            <p>This batch is most important as it will make you aware about what knowledge is required for Placements.</p>
            <p style="padding-top:8px ;"><a class="ui inverted green button" href="/courses/prep">Get More Info</a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
<!-- ################################################################################################# -->
<!-- ABOUT SECTION -->
<style>
    .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}
</style>
<div id="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img  src="digitization-4770296.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des">
				<h2>About Us</h2>
        <p>Our goal is to provide knowledge essential to survive in ongoing competitions in essense with your future Job/Placements.Our mission is to guide everyone and carry them forward with us and show the world beyond academics through Coachings and Seminars. </p>
        <p>As we belong to this generation,we here are widely aware about what is required to settle with all dependencies in todays situation of IT world.Our vision is to focus on more practical knowledge and programming skills which is moreover important than theoretical knowledge.</p>
        <p>Sincerely,</p>
        <strong>Logic Systems</strong>
				
        </div>
      </div>
	</div>
</div>
<hr>

<!-- ################################################################################################# -->	
<!-- Contact INformation -->
    <div class="site-section bg-light" >
      <div id="contact-section" class="container">
        <div class="row">
          <div class="col-12 text-center ">
            <div class="block-heading-1">
              <span>Get In Touch</span>
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
          </div>
          <div class="col-12 text-center mb-1">
            <h2 class="text-black">Need to know more details? Call Us</h2>
            <h2 class="text-black"> <a href="tel://9890755216"><img id="mix" src="icons8-phone-64.png"> 9890755216</a></h2>
            <h2 class="text-black"> <a href="tel://7219262031"><img id="mix" src="icons8-phone-64.png"> 7219262031</a></h2>
            <p id="mov">You Can Also Email Us To:- <a href="mailto:logicsystems.20@gmail.com">logicsystems.20@gmail.com</a></p>
            <p id="mov">Location:-Satara & Pune</p>
          </div>
        </div>
      </div>
    </div>
<!-- ################################################################################################# -->
      <!-- Copyright Section -->
        <div class="row pt-5  text-center mb-5">
          <div class="col-md-12">
            <div class="border-top ">
            <p>
           
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="/" > by Runal Bandishti</a>
            
            </p>
            </div>
          </div>         
        </div>
      </div>
    </footer>
  </div>
<!-- ################################################################################################# -->
<!-- Script Import -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/main.js"></script>  
  
  <%- include('partials/footer'); -%>




  <!-- *आयुष्य खूप सुंदर आहे....फक्त Programming जमलं पाहिजे.!* -->