<!DOCTYPE html>
<html>
    <head>
        <title>Logic Systems</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
   
    
    <div id="landing-header">
 		<h1>Welcome To Logic Systems</h1>
		<a href="/courses" class="btn btn-lg btn-success">Explore Courses</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<%- include('partials/footer'); -%>