<%- include('partials/header'); -%>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
<div class="container">
    <!-- header is just a type of container -->
    <header class="jumbotron">
        <div class="container">
                <h1 class="display-4">Pre-Placement Activity</h1>
            <p id="para">Pre-Placement Activity will nurture your knowledge regarding placements,were most importantly programming is required,it will clear your basic concepts from the core of computers too.</p>
                <a class="ui inverted purple button" href="/courses">Go Back To Courses</a>
        </div>
    </header>
    <div  class="container col-md-9">
        <div  class="card border-secondary" >
            <img  src="/programming.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The awesome things you will learn in PPA..!</h5>
              <p class="card-text">
                  <ul>
                      <li>Computer Architecture</li>         
                      <li>C</li>
                      <li>C++</li>
                      <li>Data Structure Using C & C++</li>
                      <li>Java</li>
                      <li>Networking Concepts</li>
                      <li>Database</li>                        
                  </ul>
                  <p>
                  <a class="btn btn-success float-right" href="http://forms.gle/jGuyRSWB3EXWShKm6">Register For This Course</a>
                  <br><p class="float-right">*Note:-You Will Be Redirected To A Google Form For Registration</p>
                  </p>
            </div>
        </div>
    </div>




   

<%- include('partials/footer'); -%>
