<%- include('partials/header'); -%>

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
<div class="container">
    <!-- header is just a type of container -->
    <header class="jumbotron bub">
        <div class="container">
            <h1 class="display-4">Python & Automation Using Python</h1>
            <p id="para" >Researches & reports reveal that python is one of the most preferred languages on the planet. 
                The reason behind its back is its simplicity, huge community & easier learning curve. 
                After intense research, it was found that among all the programming languages, Python has enough reasons to be 
                something worth to learn in 2020.
                </p>
                <a class="ui inverted green button" href="/courses">Go Back To Courses</a>
        </div>
    </header>
    <div class="row">
    <div class="container col-md-9">
     <div class="card border-success ">
         <img class="card-img-top" src="/Best-Programming-Languages-to-Start-Learning-Today.jpg" alt="">
         <div class="card-body">
             <h2 class="card-title">The awesome things you will learn in Python & Automation</h2>
             <p class="card-text">
               <strong> This batch is divided into multiple parts which covers below things as:</strong>
                 <ul id="fix">
                <li>Python Programming language Fundamentals</li>
                       #Basics Of Programming In Python
                <li>Python Programming language Advanced</li>  
                <li>Automation using Python</li> 
                    #Projects
                </ul>
             </p>
             <p>
             <a class="btn btn-success float-right" href="http://forms.gle/jGuyRSWB3EXWShKm6">Register For This Course</a>
             <br><p class="float-right">*Note:-You Will Be Redirected To A Google Form For Registration</p>
            </p>
            </div>
     </div>
    </div>
</div>
<%- include('partials/footer'); -%>
