<%- include('partials/header'); -%>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
<div class="container">
    <!-- header is just a type of container -->
    <header class="jumbotron burb">
        <div class="container">
            <h1 class="display-4">Web-Designing/Web-Development</h1>
            <p id="para">Web development gives you the opportunity to express yourself creatively on the internet.
                If you have an idea you would like to try as you discover your web dev skills, try it out. 
                Web dev is a fun, creative experience.</p>
                <hr>
                <a class="ui inverted yellow button" href="/courses">Go Back To Courses</a>
        </div>
    </header>
    <div  class="container col-md-9">
    <div  class="card border-primary" >
        <img  src="/programming-3173456_1280.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The awesome things you will learn in Web Designing..!</h5>
          <p class="card-text">
              <ul>
                  <li>HTML</li>         
                  <li>CSS</li>
                  <li>Bootstrap</li>
                  <li>JavaScrip</li>
                  <li>DOM Manipulation</li>
                  <li>JQuery</li>
                  <li>Node JS</li>
                  <li>Express Framework</li>
                  <li>MongoDB</li>
                  <li>Routing</li>
                  <li>Authentication</li>
                  <li>Git & Github</li>
                  <li>Deploying</li>
              </ul>
              <strong>*And Creating various project while learning.!</strong></p>
              <p>
              <a class="btn btn-success float-right" href="http://forms.gle/jGuyRSWB3EXWShKm6">Register For This Course</a>
              <br><p class="float-right">*Note:-You Will Be Redirected To A Google Form For Registration</p>
            </p>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>
