body {
    background-color: #000;
  }

  #landing-header {
    z-index: 1;  /* we have 3 dimensions x,y,z (z):it allows the content to viewed as forward coming to us */
    position: relative;
    text-align: center;
     padding-top: 40vh;   /*vh:view height */
  }
 
  #landing-header h1 {
    color: #fff;
  }

  .slideshow { 
    position: fixed;    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; /*fades images in and out*/
  }
  .slideshow li:nth-child(1) { 
    background-image: url(/matrix-356024.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(/network-3357642_1920.jpg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(/software-3682509.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(/lights-abstract-art-4k-so.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    animation-delay: 40s; 
  }


  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  } 

