.jumbotron{
    background: teal ;
}
.display-4{
    font-weight: 350;
}
p{
    font-size: 16px;
}
.burb{
    background: #bf40bf;
}
.bub{
    background: grey;
}
.move{
    padding-left: 155px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.card-title{
    font-size: 25px;
    text-decoration: underline;
    font-family: 'Josefin Sans', sans-serif;
}
#fix{
    font-weight: bold;
    font-size: 17px;
}
#me{
    background: grey;
}
li{
    font-size: 17px;
}
strong{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
#about-section{
    padding-top: 60px;
}
#courses{
    padding-top: 30px;
}
#contact-section{
    padding-top: 20px;
}
#mix{
    width: auto;
    height: 30px;
    margin-bottom: 9px;
}
#mov{
    font-weight: bold;
}
#hel{
    
    font-size: 55px;
    /* text-align: start; */
    display: inline-block;
    line-height: 65px;
}
span{
    line-height: 20px;
}
#para{
    font-size: 19px;
}